body {
  font-family: Arial, sans-serif;
  margin: 0;
  text-align: center;
  background: #f6f6f6;
}

header {
  padding: 30px;
  background: #000;
  color: #fff;
}

.produto {
  background: #fff;
  margin: 30px auto;
  padding: 20px;
  max-width: 400px;
  border-radius: 12px;
}

.produto img {
  width: 100%;
  border-radius: 10px;
}

.preco {
  font-size: 28px;
  color: #27ae60;
  font-weight: bold;
}

button {
  background: #000;
  color: #fff;
  border: none;
  padding: 15px;
  width: 100%;
  border-radius: 8px;
  font-size: 18px;
  cursor: pointer;
}

#pix {
  margin: 20px;
}

footer {
  margin: 30px;
  color: #777;
}
